<!--users/templates/run_model.html-->

{% extends 'dashboard.html' %}

{% block content %}
{% block includes %}
{% if country != null %}
<h2 style="color:red">
    Country of name "{{ country }}" could not be found in data source. 
</h2>
{% endif %}
{% endblock includes %}
<h2>Please choose a correct country's name to run SIR model</h2>
<div>
    <form action="/generate-report" method="post" >
        {% csrf_token %}
        <label for="country">Country</label>
        <input id="country" type="text" name="country" value="{{ country_name }}">
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
